

<article *ngFor="let pysakki of reittiData">

  
    <h2>Pysäkin {{pysakki.name}} reittitiedot</h2>
    <div fxLayout="row">
      <div fxFlex="50">
          <ul>
          <li *ngFor="let reitti of pysakki.routes">
            <h4>{{reitti.longName}}</h4>
            <span>
                <p [class]="reitti.patterns[0].directionId | piippu">Linja: {{reitti.shortName}}</p>
            </span>
            <!-- RTFS:{{reitti.gtfsId}} -->
          </li>
        </ul>
      </div>
      <div fxFlex="50">
        <agm-map [latitude]="pysakki.lat" [longitude]="pysakki.lon" [zoom]="15">
          <agm-marker [latitude]="pysakki.lat" [longitude]="pysakki.lon"></agm-marker>
        </agm-map>
      </div>
  </div>

</article>